<template>
  <div class="bg-default">
    <div class="main-content">
      <!-- Navbar -->
      <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">
          <router-link class="navbar-brand pt-0 pb-0" to="/" exact>
            <img src="/static/images/logo_ntu.png" class="navbar-brand-img" alt="..." style="width: 175px; height: 75px;">
          </router-link>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="../index.html">
                    <img src="/static/assets/img/brand/blue.png">
                  </a>
                </div>
                <div class="col-6 collapse-close">
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                    <span></span>
                    <span></span>
                  </button>
                </div>
              </div>
            </div>
            <!-- Navbar items -->
            <!-- <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <router-link class="nav-link nav-link-icon" to="/" exact>
                  <i class="ni ni-planet"></i>
                  <span class="nav-link-inner--text">Dashboard</span>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link nav-link-icon" to="/register" exact>
                  <i class="ni ni-circle-08"></i>
                  <span class="nav-link-inner--text">Register</span>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link nav-link-icon" to="/login" exact>
                  <i class="ni ni-key-25"></i>
                  <span class="nav-link-inner--text">Login</span>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link nav-link-icon" to="/profile" exact>
                  <i class="ni ni-single-02"></i>
                  <span class="nav-link-inner--text">Profile</span>
                </router-link>
              </li>
            </ul> -->
          </div>
        </div>
      </nav>
      <!-- Header -->
      <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="container">
          <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6">
                <h1 class="text-white">Welcome!</h1>
                <p class="text-lead text-light">To our SG Decoding system. Login and try our features</p>
              </div>
            </div>
          </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </div>
      <!-- Page content -->
      <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="bg-transparent mt-2">
                <h2 class="text-muted text-center mt-2">Login</h2>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <form role="form">
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input name="email" v-model="credentials.email" autocomplete="current-email" class="form-control" placeholder="Email" type="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input name="password" v-model="credentials.password" autocomplete="current-password" class="form-control" placeholder="Password" type="password">
                    </div>
                  </div>
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                    <label class="custom-control-label" for=" customCheckLogin">
                      <span class="text-muted">Remember me</span>
                    </label>
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert" v-if="error.message && error.message.length">
                    <span class="alert-inner--text"><strong>Error!</strong> {{ this.error.message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="closeError">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-primary my-4" @click.prevent="login">Sign in</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <a href="#" class="text-light"><small>Forgot password?</small></a>
              </div>
              <!-- <div class="col-6 text-right">
                <router-link to="/register" class="text-light"><small>Create new account</small></router-link>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2019 <a href="http://temasek-labs.ntu.edu.sg/Research/researchstaff/Pages/Speech-Recognition.aspx" class="font-weight-bold ml-1" target="_blank">Speech lab</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="http://temasek-labs.ntu.edu.sg/Research/researchstaff/Pages/Speech-Recognition.aspx" class="nav-link" target="_blank">Speech lab</a>
              </li>
              <li class="nav-item">
                <a href="http://temasek-labs.ntu.edu.sg/Research/researchstaff/Pages/Speech-Recognition.aspx" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="http://temasek-labs.ntu.edu.sg/Research/ResearchAreas/Pages/Speech%20Recognition.aspx" class="nav-link" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="http://temasek-labs.ntu.edu.sg/Research/researchstaff/Pages/Speech-Recognition.aspx" class="nav-link" target="_blank">MIT License</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      credentials: {
        email: '',
        password: ''
      },
      error: ''
    }
  },
  mounted () {
    document.addEventListener('keyup', this.onKeyup)
  },
  beforeDestroy () {
    document.removeEventListener('keyup', this.onKeyup)
  },
  methods: {
    onKeyup (e) {
      if (e.keyCode === 13) { // listen for Enter keyup event, if press Enter then we call method `login`
        this.login()
        console.log(1123123)
      }
    },
    async login () {
      try {
        // eslint-disable-next-line
        let response = await http.post('/users/login', {email: this.credentials.email, password: this.credentials.password})
        this.$root.setJWTForRequest(response.data.user, response.data.token) // we need to reset the JWT token for header of a request if not you will be notice `unauthenticated` even if you logged in successfully
        if (localStorage.getItem('jwt') != null) {
          if (this.$route.params.nextUrl != null) {
            window.location.href = this.$route.params.nextUrl
          } else {
            window.location.href = '/'
          }
        }
      } catch (e) {
        this.error = e.response.data
        console.log(e)
      }
    },
    closeError () {
      this.error = ''
    }
  }
}
</script>

<style>

</style>
