<template>
  <div>
    <Sidebar></Sidebar>
    <div class="main-content">
      <Header></Header>
      <slot></slot>
      <!-- <Footer></Footer> -->
    </div>
  </div>
</template>

<script>
import Sidebar from '@/components/partials/Sidebar'
import Header from '@/components/partials/Header'
import Footer from '@/components/partials/Footer'
export default {
  components: {
    Sidebar,
    Header,
    Footer
  }
}
</script>

<style>

</style>
