<template>
  <MainLayout>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <ListConversation
                    :listConversations="listConversations"
                    @deleteConversation="deleteConversation"></ListConversation>
                </div>
                <div class="col-3">
                  <div class="btn-recording">
                    <router-link to="/recording" class="btn btn-primary" style="width: 100%;">
                      Start recording
                    </router-link>
                  </div>
                  <div class="btn-import mt-3">
                    <button class="btn btn-secondary" style="width: 100%;" @click="showUploadForm">
                      Import audio
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ModalUploadFile
      @onFileChanged="onFileChanged"
      @closeUploadFile="closeUploadFile"
      @uploadFile="uploadFile"
      :listUploadFiles="listUploadFiles"></ModalUploadFile>
  </MainLayout>
</template>

<script>
import ModalUploadFile from './ModalUploadFile'
import ListConversation from './ListConversation'

export default {
  components: {
    ModalUploadFile,
    ListConversation
  },
  data () {
    return {
      listUploadFiles: [],
      listConversations: []
    }
  },
  async created () {
    await this.getConversations()
  },
  methods: {
    async getConversations () {
      try {
        this.$root.isLoading = true
        // eslint-disable-next-line
        let response = await http.get('/conversations')
        this.listConversations = response.data.conversations
        this.$root.isLoading = false
      } catch (e) {
        console.log(e)
      }
    },
    onFileChanged (event) {
      this.listUploadFiles = [...this.listUploadFiles, ...event.target.files]
      this.listUploadFiles = this.listUploadFiles.map(item => {
        if (item.progress === 100) {
          return item
        }
        return {
          file: item.file ? item.file : item,
          progress: 0,
          storageName: 'english',
          hasError: false
        }
      })
    },
    showUploadForm () {
      // eslint-disable-next-line
      $('#importFileModal').modal('show')
      this.$root.loadServerStorages()
    },
    closeUploadFile () {
      this.listUploadFiles = []
    },
    async uploadFile () {
      if (!this.listUploadFiles.length) {
        return
      }
      try {
        await this.listUploadFiles.forEach(async (item) => {
          if (!item.storageName.trim().length) {
            item.hasError = true
            return
          } else {
            item.hasError = false
          }
          if (item.progress < 100) {
            let formData = new FormData()
            formData.append('file', item.file)
            // eslint-disable-next-line
            let response = await http.post(`/fileUpload/${this.$root.user.username}/${item.storageName}/${item.file.name}`, formData, {
              onUploadProgress: (progressEvent) => {
                item.progress = Math.round((progressEvent.loaded * 100) / progressEvent.total)
              }
            })
            if (response.data.message === 'success') {
              this.listConversations.unshift(response.data.conversation)
            }
          }
        })

        this.$bus.emit('finishUploading')
      } catch (e) {
        console.log(e)
      }
    },
    deleteConversation (conversation) {
      let index = this.listConversations.findIndex(item => item._id === conversation._id)
      this.listConversations.splice(index, 1)
    }
  }
}
</script>

<style>

</style>
