<template>
  <div v-if="$root.isLoading">
    <Loading></Loading>
  </div>
  <div class="list-conversations" v-else>
    <div class="alert alert-warning" role="alert" v-if="!listConversations.length">
      You don't have any conversation. Upload or record your own conversation
    </div>
    <div v-else>
      <ConversationItem
        v-for="(conversation, index) in listConversations"
        :key="index"
        :conversation="conversation"
        @selectConversation="selectConversation"></ConversationItem>
    </div>
    <ModalConfirmDelete
      :selectedConversation="selectedConversation"
      @deleteConversation="deleteConversation"></ModalConfirmDelete>
  </div>
</template>

<script>
import ConversationItem from './ConversationItem.vue'
import ModalConfirmDelete from './ModalConfirmDelete'

export default {
  props: {
    listConversations: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      selectedConversation: {
        name: ''
      }
    }
  },
  components: {
    ConversationItem,
    ModalConfirmDelete
  },
  methods: {
    selectConversation (conversation) {
      this.selectedConversation = conversation
    },
    async deleteConversation () {
      try {
        // eslint-disable-next-line
        let response = await http.delete(`/conversations/${this.selectedConversation._id}`)
        if (response.data.success) {
          // eslint-disable-next-line
          $('#confirmDeleteModal').modal('hide')
          this.$emit('deleteConversation', this.selectedConversation)
        }
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>

<style>

</style>
