<template>
  <div class="modal fade" id="importFileModal" tabindex="-1" role="dialog" aria-labelledby="modalImportFile" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="modalImportFile">Import Audio</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table align-items-center">
              <thead class="thead-light">
                  <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Size</th>
                      <th scope="col">Storage</th>
                      <th scope="col">Progress</th>
                      <th scope="col">Status</th>
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="(item, index) in listUploadFiles" :key="index">
                      <th scope="row">
                          <div class="media align-items-center">
                              <div class="media-body file-name">
                                  <span class="mb-0 text-sm">{{ item.file.name }}</span>
                              </div>
                          </div>
                      </th>
                      <td>
                          {{ $root.formatBytes(item.file.size) }}
                      </td>
                      <td>
                        <select class="custom-select" :class="{'is-invalid': item.hasError}" v-model="item.storageName">
                          <option :value="key" v-for="(key, index) in Object.keys($root.serverStorages)" :key="index">
                            {{ $root.serverStorages[key].name }}
                          </option>
                        </select>
                      </td>
                      <td>
                          <div class="d-flex align-items-center">
                              <span class="mr-2">{{ item.progress }}%</span>
                              <div>
                                  <div class="progress">
                                      <div class="progress-bar bg-primary" role="progressbar" :aria-valuenow="item.progress" aria-valuemin="0" aria-valuemax="100" :style="'width:' + item.progress + '%;'"></div>
                                  </div>
                              </div>
                          </div>
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4" v-if="item.progress < 100">
                          <i class="bg-warning"></i>
                            Uploading
                        </span>
                        <span class="badge badge-dot mr-4" v-else>
                          <i class="bg-success"></i>
                            Success
                        </span>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="$emit('closeUploadFile')">Cancel</button>
          <button type="button" class="btn btn-primary" @click="$refs.file.click()" >
            Choose file
            <input type="file" id="upload-input" ref="file" multiple accept="audio/*" @change="$emit('onFileChanged', $event)">
          </button>
          <button type="button" class="btn btn-success" @click="$emit('uploadFile')" >
            Upload files
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    listUploadFiles: {
      type: Array,
      required: true
    }
  },
  mounted () {
    this.$bus.on('finishUploading', () => {
      // eslint-disable-next-line
      $('#importFileModal').modal('hide')
    })
  }
}
</script>

<style lang="scss" scoped>
#upload-input {
  display: none;
}
.file-name {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
