<template>
  <MainLayout>
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col-8">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">List users</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="user in users" :key="user._id">
                    <th scope="row">
                      {{ user.username }}
                    </th>
                    <td>
                      {{ user.email }}
                    </td>
                    <td>
                      {{ user.role }}
                    </td>
                    <td class="text-right" v-if="$root.user._id !== user._id">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#" @click.prevent="showModalDeleteUser(user)">Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Create new user</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input autocomplete="current-username" type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" v-model="user.username">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input autocomplete="current-email" type="email" id="input-email" class="form-control form-control-alternative" placeholder="email@example.com" v-model="user.email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-role">Role</label>
                        <select class="form-control form-control-alternative" id="input-role" v-model="user.role">
                          <option value="admin">admin</option>
                          <option value="user">user</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-password">Password</label>
                        <input autocomplete="current-password" type="password" id="input-password" class="form-control form-control-alternative" v-model="user.password">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" v-if="error.message && error.message.length">
                        <span class="alert-inner--text"><strong>Error!</strong> {{ this.error.message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="closeError">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <button class="btn btn-primary" @click.prevent="createUser">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDeleteUser" tabindex="-1" role="dialog" aria-labelledby="modalDeleteUserLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalDeleteUserLabel">Warning</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              Are you sure want to delete user: <b>{{ selectedUser.username }} ({{ selectedUser.email }})</b>?
            </div>
            <div>
              The user's data will be removed permanently
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" @click="deleteUser">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </MainLayout>
</template>

<script>
export default {
  data () {
    return {
      users: [],
      user: {
        username: '',
        email: '',
        password: '',
        role: ''
      },
      selectedUser: {},
      error: {}
    }
  },
  async created () {
    await this.getUsers()
    this.generateEmptyUser()
  },
  methods: {
    async getUsers () {
      try {
        // eslint-disable-next-line
        const response = await http.get('/users')
        this.users = response.data.users
      } catch (e) {
        this.error = e.response.data
        console.log(e)
      }
    },
    async createUser () {
      try {
        // eslint-disable-next-line
        const response = await http.post('/users/register', {
          username: this.user.username,
          email: this.user.email,
          password: this.user.password,
          role: this.user.role
        })
        if (response.data.success) {
          this.users.push(response.data.user)
        }
      } catch (e) {
        this.error = e.response.data
        console.log(e)
      }
    },
    showModalDeleteUser (user) {
      this.selectedUser = user
      // eslint-disable-next-line
      $('#modalDeleteUser').modal('show')
    },
    async deleteUser () {
      try {
        // eslint-disable-next-line
        const response = await http.delete(`/users/${this.selectedUser._id}`)
        if (response.data.success) {
          let index = this.users.findIndex(item => item._id === this.selectedUser._id)
          this.users.splice(index, 1)
          // eslint-disable-next-line
          $('#modalDeleteUser').modal('hide')
        }
      } catch (e) {
        this.error = e.response.data
        console.log(e)
      }
    },
    generateEmptyUser () {
      this.user.username = ''
      this.user.email = ''
      this.user.password = ''
      this.user.role = 'user'
    },
    closeError () {
      this.error = ''
    }
  }
}
</script>

<style>

</style>
